{% extends 'frontend/base_generic.html' %}

{% block title %}Health Programs{% endblock %}

{% block content %}
    <div class="container">
        <h2>Health Programs</h2>
        {% if user.is_staff %}
        <a href="{% url 'frontend:create_health_program' %}" class="btn btn-primary mb-3">Create New Health Program</a>
        {% endif %}
        <!-- List of programs displayed here -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Program Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created On</th>
                </tr>
            </thead>
            <tbody>
                {% for program in programs %}
                <tr>
                    <td>{{ forloop.counter }}</td> <!-- This will display the index of the program -->
                    <td>{{ program.name }}</td>
                    <td>{{ program.description }}</td>
                    <td>{{ program.date_created }}</td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No health programs available.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
